{{assign title='404'}}


{{#partial 'content'}}
<main class="page flex-col gap-5">
  <h1 class="text-8xl font-bold leading-none">404</h1>
  <h2 class="text-2xl font-thin text-secondary leading-none">Halaman tidak ditemukan</h2>
</main>
{{/partial}}

{{> layout}}