{{assign title='Tentang'}}


{{#partial 'content'}}
<main class="page flex-col">
    <div class="py-3">
        <span class="font-shadows-into-light font-bold text-4xl">Aksara Batak</span>
        <span class="text-xl px-2 text-primary">v1.0</span>
    </div>
    <div class="sub-title">Build with</div>
    <div class="my-3 flex justify-center flex-wrap gap-6 md:gap-8">
        <div class="framework">
            <img src="@images/html5.png" />
            <span>HTML5</span>
        </div>
        <div class="framework">
            <img src="@images/css3.png" />
            <span>CSS3</span>
        </div>
        <div class="framework">
            <img src="@images/vanilla-js.png" />
            <span>Vanilla JS</span>
        </div>
        <div class="framework">
            <img src="@images/webpack.png" />
            <span>Webpack</span>
        </div>
        <div class="framework">
            <img src="@images/html-bundler.png" />
            <span>HTML Bundler Plugin</span>
        </div>
        <div class="framework">
            <img src="@images/handlebars.png" />
            <span>Handlebars</span>
        </div>
        <div class="framework">
            <img src="@images/tailwind-css.png" />
            <span>Tailwind CSS</span>
        </div>
    </div>
    <div class="sub-title">Aksara Batak Toba font by</div>
    <a class="flex flex-col justify-center items-center gap-2 border rounded-md py-5 px-6 border-color-light bg-color-light " target="_blank" rel="noopener noreferrer"
        href="https://docs.google.com/file/d/0B4LYQwzc2ayMNFNMWDRfVk9odVU/edit?pli=1&resourcekey=0-aJ38wrkQrJlSJCW7SqsFDw">
        <span class="text-lg capitalize text-primary drop-shadow">Bungaran Simanjuntak</span>
        <span class="text-xl text-secondary drop-shadow">aksarabataktoba-ver1.1.zip</span>
    </a>
</main>
{{/partial}}

{{> layout}}