{{assign title='Tentang'}}


{{#partial 'content'}}
<main id="about" class="page">
    <div class="brand">Aksara Batak</div>
    <div class="framework">
        <h4>build with</h4>
        <div class="list">
            <a class="eleventy" target="_blank" rel="noopener noreferrer"
                href="https://www.11ty.dev/docs/languages/handlebars/">
                <img src="@images/eleventy.png" />
                <span>Eleventy</span>
            </a>
            <a class="handlebars" target="_blank" rel="noopener noreferrer" href="https://handlebarsjs.com/">
                <img src="@images/handlebars.png" />
                <span>Handlebars</span>
            </a>
        </div>
    </div>
    <div class="font">
        <h4>Aksara Batak Toba font by</h4>
        <a target="_blank" rel="noopener noreferrer"
            href="https://docs.google.com/file/d/0B4LYQwzc2ayMNFNMWDRfVk9odVU/edit?pli=1&resourcekey=0-aJ38wrkQrJlSJCW7SqsFDw">
            <span>Bungaran Simanjuntak</span>
            <span>aksarabataktoba-ver1.1.zip</span>
        </a>
    </div>

</main>
{{/partial}}

{{> layout}}