{{assign title='Penulis'}}


{{#partial 'content'}}
<main id="author" class="page">
    <img src="@images/author.jpg" />
    <div class="content">
        <h3>Horas, I'm</h3>
        <h1>Ferry L. H.</h1>
        <h2>Software Developer</h2>

        <button>
            <i class="fa-solid fa-envelope"></i>
            <span>ferrylinton@gmail.com</span>
        </button>
        <button>
            <i class="fa-brands fa-linkedin"></i>
            <span>www.linkedin.com/in/ferrylinton</span>
        </button>
        <button>
            <i class="fa-brands fa-github"></i>
            <span>www.github.com/ferrylinton</span>
        </button>
    </div>

</main>
{{/partial}}

{{> layout}}