{{assign title='Beranda'}}

{{#partial 'scripts'}}
<script src="../../js/home.js" defer="defer"></script>
{{/partial}}

{{#partial 'content'}}
<main id="home" class="page">
  <form method="get" action="/" autocomplete="off" name="aksara-form" id="aksara-form">
    <input autocomplete="false" name="hidden" type="text" style="display:none;" />
    <textarea rows="5" autocomplete="off" id="aksara-input"></textarea>
    <section class="buttons">
      <button type="reset" class="btn btn-secondary">Reset</button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </section>
  </form>
  <div id="aksara-output">text</div>
</main>
<div id="modal" class="fixed z-[6000]  bg-slate-600/50 inset-0 justify-center items-center hidden">
  <div class="w-[500px] h-[300px] bg-white flex flex-col justify-center items-center">
    <div class="">Masukan tidak valid</div>
    <div class="mt-4 w-full flex justify-center">
      <button onclick="common.closeModal()" class="btn btn-secondary">Tutup</button>
    </div>
  </div>
</div>
{{/partial}}

{{> layout}}