<section id="experience" class="page">
  <div class="circle circle1"></div>
  <div class="circle circle2"></div>
  <div class="circle circle3"></div>
  <div class="circle circle4"></div>
  <div class="timeline-vertical"></div>
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-content" data-number="1">
        <h3>Senior Sofware Engineer</h3>
        <h4>Infini</h4>
        <h5>January 2022 - Decembar 2022</h5>
        <ul>
          <li>Spring Framework</li>
          <li>WSO2 Micro Integrator</li>
          <li>React JS</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content" data-number="2">
        <h3>Senior Sofware Engineer</h3>
        <h4>Aether Digital Indonesia</h4>
        <h5>October 2019 - September 2020</h5>
        <ul>
          <li>Spring Framework</li>
          <li>MITREid Connect</li>
          <li>Activiti</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content" data-number="3">
        <h3>Senior Java Developer</h3>
        <h4>Aprisma Indonesia</h4>
        <h5>September 2017 - April 2018</h5>
        <ul>
          <li>Spring Framework</li>
          <li>Spring Cloud</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content" data-number="4">
        <h3>Senior Java Developer</h3>
        <h4>Sinergi Prakarsa Utama</h4>
        <h5>May 2015 - October 2015</h5>
        <ul>
          <li>Spring Framework</li>
          <li>Dynamic Reports</li>
          <li>JqPlotC</li>
        </ul>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content" data-number="5">
        <h3>Consultant (Technical & Operation)</h3>
        <h4>Visi Solusi Teknologi</h4>
        <h5>February 2012 - June 2014</h5>
        <ul>
          <li>Spring Framework</li>
          <li>Apache CXF</li>
          <li>Apache Camel</li>
        </ul>
      </div>
    </div>
  </div>
</section>