<!DOCTYPE html>
<html>

<head>
  <title>Ferry L. H.</title>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <meta name="robots" content="noindex, nofollow"/>
  <meta name="description" content="Konverter sederhana huruf latin ke aksara Batak Toba" />
  <meta name="author" content="Ferry L. H." />
  <link href="@src/favicon.ico" rel="icon" />
  <link href="@styles/main.css" rel="stylesheet" />
</head>

<body>
  {{> navbar }}
  <!-- Content -->
  {{#block 'content'}}{{/block}}
  {{> footer }}

  <script src="@scripts/index.js" defer="defer"></script>
  {{#block 'scripts'}}{{/block}}
</body>

</html>