#about {
    background-color: hsl(from var(--body-bg) h s calc(l - 2));
    background-image: linear-gradient(10deg, hsl(from var(--body-bg) h s calc(l - 4)) 50%, transparent 50%), linear-gradient(-60deg, hsl(from var(--body-bg) h s calc(l - 6)) 30%, transparent 30%);
}

#about .box {
    width: 100%;
    max-width: 36rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    background: hsl(from var(--body-bg) h s l / 0.2);
    border: solid 1px hsl(from var(--body-bg) h s calc(l - 20));
    box-shadow: 0 0 32px 0 hsl(from var(--body-bg) h s calc(l - 10));
}

.dark #about .box {
    border: solid 1px hsl(from var(--body-bg) h s calc(l + 10));
    box-shadow: 0 8px 32px 0 hsl(from var(--body-bg) h s calc(l + 4));
}

#about .box h3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: hsl(from var(--body-bg) h s calc(l - 50));
}

.dark #about .box h3{
    color: hsl(from var(--body-bg) h s calc(l + 40));
}

#about .box h3 span{
    line-height: 0;
    font-weight: lighter;
    text-transform: uppercase;
}