#home .wave {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -20;
    min-width: 1024px;
    --wave-color1: hsla(var(--primary-h), var(--primary-s), 98%, 1);
    --wave-color2: hsla(var(--primary-h), var(--primary-s), 80%, 1);
}

.dark #home .wave {
    --wave-color1: hsla(var(--primary-h), var(--primary-s), 20%, 0.5);
    --wave-color2: hsla(var(--primary-h), var(--primary-s), 27%, 0.9);
}

#home .box {
    width: calc(100% - 30px);
    max-width: 400px;
    padding: 2.5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    background-color: hsla(var(--base-h), var(--base-s), 90%, 0.1);
    border: solid 1px hsla(var(--base-h), var(--base-s), 80%, 1);
    box-shadow: -1px -1px 15px 0 hsla(var(--base-h), var(--base-s), 90%, 0.2), 1px 1px 15px 0 hsla(var(--primary-h), var(--primary-s), 46%, 0.2);
}

.dark #home .box {
    background-color: hsla(var(--base-h), var(--base-s), 10%, 0.1);
    border: solid 1px hsla(var(--base-h), var(--base-s), 30%, 1);
    box-shadow: -1px -1px 15px 0 hsla(var(--base-h), var(--base-s), 10%, 0.2), 1px 1px 15px 0 hsla(var(--primary-h), var(--primary-s), 46%, 0.2);
}


@media (min-width: 640px) {

    #home .box {
        width: auto;
        max-width: none;
        padding: 2.5rem;
    }

}

@media (min-width: 768px) {

    #home .box {
        display: flex;
        flex-direction: row;
        gap: 4rem;
        margin: 1rem;
        padding: 3rem;
    }

}

@media (min-width: 1024px) {

    #home .box {
        margin: 0;
        padding: 5rem 6rem;
    }

}