@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

@import './variable.css';
@import './navbar.css';
@import './home.css';
@import './about.css';
@import './project.css';
@import './experience.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins", sans-serif;
    min-height: 100dvh;
    width: 100%;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text-color);
    background-color: var(--base);
}

.font-permanent-marker-regular {
    font-family: "Permanent Marker", cursive;
    font-weight: 400;
    font-style: normal;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

svg {
    fill: currentColor;
}

.text-primary {
    color: var(--primary);
}

.text-secondary {
    color: hsla(var(--base-h), var(--base-s), 40%, 1);
}

.dark .text-secondary {
    color: hsla(var(--base-h), var(--base-s), 60%, 1);
}

.username {
    font-family: "Permanent Marker", cursive;
    font-size: 1.8rem;
    color: var(--primary);
    text-shadow: 1px 1px 1px hsla(var(--base-h), var(--base-s), 0%, 1);
}

.footer {
    flex: none;
    width: 100%;
    padding-top: 20px;
}

.footer .content {
    padding: 1rem;
    text-align: center;
    color: var(--body-text);
}

.footer a {
    color: var(--body-text);
    opacity: 0.5;
    font-size: 1rem;
}

.footer a:hover {
    opacity: 0.8;
}

.page {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
    overflow-x: hidden;
    border: 10px solid;
    border-image-slice: 1;
    border-width: 0 0 2px 0;
    border-image-source: linear-gradient(90deg, hsla(var(--primary-h), var(--primary-s), 97%, 1) 0%, hsla(var(--primary-h), var(--primary-s), 67%, 1) 40%, hsla(var(--primary-h), var(--primary-s), 47%, 1) 50%, hsla(var(--primary-h), var(--primary-s), 67%, 1) 60%, hsla(var(--primary-h), var(--primary-s), 97%, 1) 100%);
}

.dark .page {
    border-image-source: linear-gradient(90deg, hsla(var(--primary-h), var(--primary-s), 17%, 1) 0%, hsla(var(--primary-h), var(--primary-s), 37%, 1) 40%, hsla(var(--primary-h), var(--primary-s), 47%, 1) 50%, hsla(var(--primary-h), var(--primary-s), 37%, 1) 60%, hsla(var(--primary-h), var(--primary-s), 17%, 1) 100%);
}

.image-border {
    border: solid 3px hsla(var(--base-h), var(--base-s), 100%, 1);
    box-shadow: 0 0 20px 0 hsla(var(--base-h), var(--base-s), 70%, 1);
}

.dark .image-border {
    border: solid 3px hsla(var(--base-h), var(--base-s), 50%, 1);
    box-shadow: 0 0 20px 0 hsla(var(--base-h), var(--base-s), 20%, 1);
}