.navbar {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    backdrop-filter: blur(10px);
    border-style: solid;
    border-width: 0 0 1px 0;
    border-color: hsla(var(--base-h), var(--base-s), 80%, 1);
    background-color: hsla(var(--base-h), var(--base-s), 80%, 0.2);
}

.dark .navbar{
    border-color: hsla(var(--base-h), var(--base-s), 35%, 1);
    background-color: hsla(var(--base-h), var(--base-s), 40%, 0.2);
}

.navbar-links {
    z-index: 999;
    position: fixed;
    top: 55px;
    left: 50%;
    width: calc(100% - 20px);
    transition: all .3s ease-in-out;
    transform: translateX(-50%) translateY(30px);
    visibility: hidden;
    opacity: 0;
    padding: 1.2rem 1rem;
    border-radius: 8px;
    border: solid 1px hsla(var(--base-h), var(--base-s), 80%, 1);
    background-color: hsla(var(--base-h), var(--base-s), 95%, 0.7);
    box-shadow: 0px 8px 15px -10px hsla(var(--base-h), var(--base-s), 40%, 1);
}

.dark .navbar-links {
    border: solid 1px hsla(var(--base-h), var(--base-s), 40%, 1);
    background-color: hsla(var(--base-h), var(--base-s), 20%, 0.5);
    box-shadow: 0px 15px 15px -10px hsla(var(--base-h), var(--base-s), 35%, 1);
}

.navbar-links .overlay {
    position: absolute;
    background-color: hsla(var(--base-h), var(--base-s), 50%, 1);
    z-index: -1;
    transition: .3s ease left, width, opacity;
    opacity: 1;
    border-radius: 100px;
    left: 0;
    top: 0;
}

.dark .navbar-links .overlay {
    background-color: hsla(var(--base-h), var(--base-s), 40%, 1);
}

.showMobileMenu .navbar-links {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.navbar-links a {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: var(--body-text);
    display: block;
    transition: all .3s ease-in-out;
    padding: 6px 20px;
    color: hsla(var(--base-h), var(--base-s), 40%, 1);
}

.navbar-links a:hover {
    color: hsla(var(--primary-h), var(--primary-s), 30%, 1);
}

.dark .navbar-links a {
    color: hsla(var(--base-h), var(--base-s), 70%, 1);
}

.dark .navbar-links a:hover {
    color: hsla(var(--primary-h), var(--primary-s), 55%, 1);
}

.navbar-links a.active,
.navbar-links a.active:hover {
    color: #ffffff;
}

.navbar-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 890;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
}

.dark .navbar-overlay {
    background-color: rgba(0, 0, 0, 0.2);
}

.showMobileMenu .navbar-overlay {
    display: block;
}

.toggle-menu {
    height: 50px;
    padding: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.toggle-menu span {
    width: 30px;
    height: 0.15rem;
    display: block;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--text-color);
}

.showMobileMenu .toggle-menu span:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.showMobileMenu .toggle-menu span:nth-child(2) {
    opacity: 0;
}

.showMobileMenu .toggle-menu span:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.toggle-theme {
    display: inline-block;
    height: 30px;
    position: relative;
    width: 60px;
    border: none;
    background: transparent;
}

.toggle-theme:focus,
.toggle-theme:focus-visible {
    outline: none;
    box-shadow: none;
}

.slider {
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 30px;
    background-color: var(--primary);
    border: solid 2px var(--primary-border);
}

.slider .round {
    bottom: 4px;
    content: "";
    height: 22px;
    left: 4px;
    position: absolute;
    width: 22px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: #fff;
}

.slider .round svg {
    width: 26px;
    height: 26px;
}

.dark .slider .round {
    transform: translateX(27px);
}

.toggle-theme .slider .round svg:first-child {
    display: block;
}

.toggle-theme .slider .round svg:last-child {
    display: none;
}

.dark .toggle-theme .slider .round svg:first-child {
    display: none;
}

.dark .toggle-theme .slider .round svg:last-child {
    display: block;
}



@media (min-width: 768px) {

    .navbar {
        width: calc(100% - 20px);
        max-width: 1024px;
        top: 10px;
        border-radius: 60px;
        margin: 0 auto;
        border-width: 1px;
        box-shadow: 0 0 15px 0 hsla(var(--base-h), var(--base-s), 85%, 1);
    }

    .dark .navbar{
        box-shadow: 0 0 15px 0 hsla(var(--base-h), var(--base-s), 10%, 1);
    }

    .navbar-menu,
    .showMobileMenu .navbar-menu {
        position: static;
        width: auto;
        padding: 0;
        transform: none;
        border-radius: 0;
        background-color: transparent;
        opacity: 1;
        visibility: visible;
        border: none;
        box-shadow: none;
        transition: none;
    }

    .navbar-overlay,
    .showMobileMenu .navbar-overlay {
        display: none;
    }

    .navbar-links, .dark .navbar-links,
    .showMobileMenu .navbar-links {
        visibility: visible;
        opacity: 1;
        transform: none;
        width: auto;
        position: static;
        display: flex;
        gap: 8px;
        box-shadow: none;
        background-color: transparent;
        backdrop-filter: none;
        border: none;
        padding: 0;
        margin: 0;
    }

    .navbar-links a {
        display: inline-block;
        padding: 4px 14px;
    }

    .toggle-menu {
        display: none;
    }

}