#project {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, var(--body-bg) 0%, var(--body-bg) 80%, hsl(from var(--body-bg) h s calc(l - 5)) 100%);
}

.dark #project {
    background: linear-gradient(180deg, var(--body-bg) 0%, var(--body-bg) 80%, hsl(from var(--body-bg) h s calc(l + 5)) 100%);
}

.project-slider {
    position: relative;
    width: calc(100% - 2rem);
    min-height: 500px;
    max-width: 1024px;
    display: block;
    align-items: center;
    justify-content: center;
}

.slider-btn {
    z-index: 10;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    color: hsl(from var(--body-bg) h s calc(l - 20));
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(from var(--body-bg) h s calc(l - 50) / 0.1);
    border-radius: 50%;
}

.slider-btn:hover {
    color: hsl(from var(--body-bg) h s calc(l - 60));
}

.dark .slider-btn {
    color: hsl(from var(--body-bg) h s calc(l + 8));
}

.dark .slider-btn:hover {
    color: hsl(from var(--body-bg) h s calc(l + 20));
}

.slide-btn svg {
    width: 25px;
    height: 25px;
}

.slider-previous {
    left: 0;
    padding-right: 5px;
}


.slider-next {
    right: 0;
    padding-left: 5px;
}

.indicators {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.indicators li {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 60px;
    text-align: center;
    background-color: hsl(from var(--body-bg) h s calc(l - 20));
}

.dark .indicators li {
    background-color: hsl(from var(--body-bg) h s calc(l + 10));
}

.indicators li:hover {
    background-color: hsl(from var(--body-bg) h s calc(l - 35));
    color: #fff;
}

.indicators li.active,
.indicators li.active:hover {
    background-color: var(--primary);
    color: #fff;
}

.slider-content {
    width: 100%;
    min-height: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    background-color: hsl(from var(--body-bg) h s calc(l - 2) / .2);
    backdrop-filter: blur(5px);
}

.slider-content.active {
    opacity: 1;
    visibility: visible;
    animation: fadeIn;
    animation-duration: 2s;
}

.slider-content .image-container {
    width: 380px;
}

.slider-content .image-container img {
    padding: .5rem;
    background-color: hsl(from var(--body-bg) h s l / 0.5);
    border: solid 1px var(--primary);
    box-shadow: 0 0 20px -12px #000;
    border-radius: 1rem;
}

.dark .slider-content .image-container img {
    box-shadow: 0 0 32px 0px #000;
}


.slider-content .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.slider-content .info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    min-width: 135px;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    background-image: linear-gradient(hsl(from var(--body-bg) h s calc(l - 11)), hsl(from var(--body-bg) h s calc(l - 30)));
}

.slider-content .info a:hover {
    background-image: linear-gradient(hsl(from var(--body-bg) h s calc(l - 11)), hsl(from var(--body-bg) h s calc(l - 35)));
}

.dark .slider-content .info a{
    background-image: linear-gradient(hsl(from var(--body-bg) h s calc(l + 15)), hsl(from var(--body-bg) h s calc(l + 8)));
}


.dark .slider-content .info a:hover {
    background-image: linear-gradient(hsl(from var(--body-bg) h s calc(l + 15)), hsl(from var(--body-bg) h s calc(l + 4)));
}

.slider-content .info a svg {
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) {

    .slider-content {
        gap: 3rem;
        flex-direction: row;
        border: solid 1px hsl(from var(--body-bg) h s calc(l - 10));
        border-radius: 1rem;
        background: linear-gradient(45deg, hsl(from var(--body-bg) h s calc(l - 8)) 0%, var(--body-bg) 20%, var(--body-bg) 80%, hsl(from var(--body-bg) h s calc(l - 8)) 100%);
        border: solid 1px hsl(from var(--body-bg) h s calc(l - 20));
        box-shadow: 0 0 20px -5px hsl(from var(--body-bg) h s calc(l - 20));
    }
    
    .dark .slider-content{
        background: linear-gradient(45deg, hsl(from var(--body-bg) h s calc(l + 8)) 0%, var(--body-bg) 20%, var(--body-bg) 80%, hsl(from var(--body-bg) h s calc(l + 8)) 100%);
        border: solid 1px hsl(from var(--body-bg) h s calc(l + 10));
        box-shadow: 0 0 20px -5px hsl(from var(--body-bg) h s calc(l + 8));
    }

    .slider-content .info a {
        min-width: 150px;
    }

    .slider-content .image-container {
        width: 430px;
    }

    .indicators {
        bottom: -3rem;
    }

}

.slider-content img {
    width: auto;
    height: 100%;
}