#project {
    position: relative;
    overflow: hidden;
    background: linear-gradient(180deg, var(--body-bg) 0%, var(--body-bg) 80%, hsla(var(--base-h), var(--base-s), 95%, 1) 100%);
}

.dark #project {
    background: linear-gradient(180deg, var(--body-bg) 0%, var(--body-bg) 80%, hsla(var(--base-h), var(--base-s), 52%, 1) 100%);
}

.project-slider {
    position: relative;
    width: calc(100% - 2rem);
    min-height: 500px;
    max-width: 1024px;
    display: block;
    align-items: center;
    justify-content: center;
}

.slider-btn {
    z-index: 10;
    position: absolute;
    top: 50%;
    border: none;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: hsla(var(--base-h), var(--base-s), 80%, 1);
    background-color: hsla(var(--base-h), var(--base-s), calc(var(--base-l) - 50%), 0.1);
}

.slider-btn:hover {
    color: hsla(var(--base-h), var(--base-s), 80%, 1);
}

.dark .slider-btn {
    color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 8%));
}

.dark .slider-btn:hover {
    color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 20%));
}

.slide-btn svg {
    width: 25px;
    height: 25px;
}

.slider-previous {
    left: 0;
    padding-right: 5px;
}


.slider-next {
    right: 0;
    padding-left: 5px;
}

.indicators {
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform: translateX(-50%);
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 10px;
}

.indicators li {
    cursor: pointer;
    width: 30px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    border-radius: 60px;
    text-align: center;
    background-color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 20%));
}

.dark .indicators li {
    background-color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 10%));
}

.indicators li:hover {
    background-color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 35%));
    color: #fff;
}

.dark .indicators li:hover {
    background-color: hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 7%));
    color: #fff;
}

.indicators li.active,
.indicators li.active:hover {
    background-color: var(--primary);
    color: #fff;
}

.slider-content {
    width: 100%;
    min-height: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.slider-content.active {
    opacity: 1;
    visibility: visible;
    animation: fadeIn;
    animation-duration: 2s;
}

.slider-content .image-container {
    width: 380px;
}

.slider-content .image-container img {
    border: solid 4px hsl(var(--base-h), var(--base-s), calc(var(--base-l) - 10%));
    border-radius: 1rem;
}

.dark .slider-content .image-container img {
    border: solid 4px hsl(var(--base-h), var(--base-s), calc(var(--base-l) + 30%));
}

.slider-content .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}

.slider-content .info a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 1rem;
    min-width: 135px;
    padding: .5rem 1.5rem;
    border-radius: 40px;
    background-image: linear-gradient(hsla(var(--base-h), var(--base-s), 89%, 1), hsla(var(--base-h), var(--base-s), 70%, 1));
}

.slider-content .info a:hover {
    background-image: linear-gradient(hsla(var(--base-h), var(--base-s), 89%, 1), hsla(var(--base-h), var(--base-s), 65%, 1));
}

.dark .slider-content .info a {
    background-image: linear-gradient(hsla(var(--base-h), var(--base-s), 32%, 1), hsla(var(--base-h), var(--base-s), 25%, 1));
}

.dark .slider-content .info a:hover {
    background-image: linear-gradient(hsla(var(--base-h), var(--base-s), 32%, 1), hsla(var(--base-h), var(--base-s), 21%, 1));
}

.slider-content .info a svg {
    width: 18px;
    height: 18px;
}

@media (min-width: 768px) {

    .slider-content {
        gap: 3rem;
        flex-direction: row;
        border-radius: 1rem;
        background: linear-gradient(45deg, hsla(var(--base-h), var(--base-s), 92%, 1) 0%, var(--base) 20%, var(--base) 80%, hsla(var(--base-h), var(--base-s), 80%, 1) 100%);
        border: solid 1px hsla(var(--base-h), var(--base-s), 80%, 1);
        box-shadow: -1px -1px 15px 0 hsla(var(--base-h), var(--base-s), 90%, 0.2), 1px 1px 15px 0 hsla(var(--primary-h), var(--primary-s), 46%, 0.2);
    }

    .dark .slider-content {
        background: linear-gradient(45deg, hsla(var(--base-h), var(--base-s), 10%, 1) 0%, var(--base) 20%, var(--base) 80%, hsla(var(--base-h), var(--base-s), 10%, 1) 100%);
        border: solid 1px hsla(var(--base-h), var(--base-s), 30%, 1);
        box-shadow: -1px -1px 15px 0 hsla(var(--base-h), var(--base-s), 10%, 0.2), 1px 1px 15px 0 hsla(var(--primary-h), var(--primary-s), 46%, 0.2);
    }

    .slider-content .info a {
        min-width: 150px;
    }

    .slider-content .image-container {
        width: 430px;
    }

    .indicators {
        bottom: -3rem;
    }

}

.slider-content img {
    width: auto;
    height: 100%;
}