:root{
    --body-bg : #ffffff;
    --body-text : #1a1a1a; 
	--primary: #4e9d4e;
    --secondary: #4d4d4d;

    --navbar-bg: #eceef0;
    --navbar-border: #d8d9da;
    --font-batak: #be2626;

    --border-color: hsl(from var(--body-bg) h s calc(l - 40));
    --backdrop-bg-color: hsl(from var(--body-bg) h s l / 0.1);
}

.dark{
    --body-bg : #272b30;
    --body-text : #ffffff; 
    --primary: #4e9d4e;
    --secondary: #7a8288;

    --navbar-bg: #3a3f44;
    --navbar-border: #4f5559;
    --font-batak: #be2626;

    --border-color: hsl(from var(--body-bg) h s calc(l + 50));
    --backdrop-bg-color: hsl(from var(--body-bg) h s l / 0.1);
}


