:root{
    --primary: hsl(120, 34%, 46%);
    --primary-h: 120;
    --primary-s: 34%;
    --primary-l: 46%;

    --base: hsl(0, 0%, 100%);
    --base-h : 0;
    --base-s : 0%;
    --base-l : 100%;

    --secondary: hsla(var(--base-h), var(--base-s), 50%, 1);
    --text-color: hsl(0, 0%, 10%);
}

.dark{
    --base: hsl(213, 10%, 17%);
    --base-h : 213;
    --base-s : 10%;
    --base-l : 17%;

    --secondary: hsla(var(--base-h), var(--base-s), 50%, 1);
    --text-color: hsl(0, 0%, 90%);
}